@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 21%;
    --foreground: 220 10% 85%;

    --card: 220 13% 25%;
    --card-foreground: 220 10% 85%;

    --popover: 220 13% 25%;
    --popover-foreground: 220 10% 85%;

    --primary: 220 13% 21%;
    --primary-foreground: 220 10% 85%;

    --secondary: 220 9% 27%;
    --secondary-foreground: 220 10% 85%;

    --muted: 220 9% 27%;
    --muted-foreground: 0 0% 60%;

    --accent: 280 10% 35%;
    --accent-foreground: 220 10% 85%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 9% 27%;
    --input: 220 9% 27%;
    --ring: 280 10% 45%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 21%;
    --foreground: 220 10% 85%;

    --card: 220 13% 25%;
    --card-foreground: 220 10% 85%;

    --popover: 220 13% 25%;
    --popover-foreground: 220 10% 85%;

    --primary: 220 13% 21%;
    --primary-foreground: 220 10% 85%;

    --secondary: 220 9% 27%;
    --secondary-foreground: 220 10% 85%;

    --muted: 220 9% 27%;
    --muted-foreground: 0 0% 60%;

    --accent: 280 10% 35%;
    --accent-foreground: 220 10% 85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 9% 27%;
    --input: 220 9% 27%;
    --ring: 280 10% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}